@page "/"

<PageTitle>Book Catalog</PageTitle>

<div class="container mt-4">
    <h1>Book Catalog</h1>

    <form class="d-flex input-group" role="search" @onsubmit="ApplySearchAsync">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" @bind="_searchTerm">
        @if (!string.IsNullOrEmpty(_searchTerm))
        {
            <button class="btn btn-outline-secondary" type="button" @onclick="ResetSearchAsync">Reset</button>
        }
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <SortableHeader ColumnName=@(nameof(Book.Title)) SortColumn=@(_sortColumn) SortAscending=@(_sortAscending) OnSort="SortTable"/>
            <SortableHeader ColumnName=@(nameof(Book.Author)) SortColumn=@(_sortColumn) SortAscending=@(_sortAscending) OnSort="SortTable"/>
            <SortableHeader ColumnName=@(nameof(Book.Genre)) SortColumn=@(_sortColumn) SortAscending=@(_sortAscending) OnSort="SortTable"/>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in _books)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>
                    <a class="btn btn-info btn-sm" href="/@(book.Id)">View</a>
                    <a class="btn btn-warning btn-sm" href="/@(book.Id)/edit">Edit</a>
                    <a class="btn btn-danger btn-sm" @onclick="() => DeleteBook(book.Id)">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <div class="float-start">
            <button class="btn btn-outline-primary" @onclick="PreviousPageAsync" disabled="@(!_pagination.CanGoToPreviousPage)">Previous</button>
            <button class="btn btn-outline-primary" @onclick="NextPageAsync" disabled="@(!_pagination.CanGoToNextPage)">Next</button>
        </div>
        <div class="d-inline-flex align-items-center">
            <select class="form-select ms-2" style="width: auto;" @bind="_pagination.ItemsPerPage" @bind:after="ApplySearchAsync">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
            </select>
            <div class="ms-2">Page @_pagination.CurrentPage of @_pagination.TotalPages</div>
        </div>
    </div>
</div>